.App-header {
  background-color: #282c34;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.compteur {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
 
  width: 100%;  
}
@media (max-width: 768px) {
  .App-logo {
    height: 8rem;
  }

  .App-header {
    font-size: calc(8px + 2vmin); 
  }
}
.footerr {
  margin-top: auto; 
  
  background-color: #333;
  color: white;
  text-align: center;
}
