.App-header {
  background-color: #282c34;
  height: auto; /* Changez min-height par height auto */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.compteur {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
 
  width: 100%;  /* Assurez-vous que le conteneur prend toute la largeur */
}
@media (max-width: 768px) {
  .App-logo {
    height: 8rem; /* Plus petit logo sur les petits écrans */
  }

  .App-header {
    font-size: calc(8px + 2vmin); /* Réduire la taille du texte */
  }
}
.footerr {
  margin-top: auto; /* Pour le coller en bas sur les écrans plus grands */
  
  background-color: #333;
  color: white;
  text-align: center;
}
