.App {
  display: flex;
  flex-direction: column;  /* Utilisation du mode colonne pour une disposition verticale */
  justify-content: space-between; /* L'espace entre le header et le footer est distribué */
  min-height: 100vh; /* Prendre toute la hauteur de la fenêtre */
  width: 100%;
}

.compteur {
 
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  flex-grow: 1; /* Prendre tout l'espace restant entre le header et le footer */
  padding: 20px; /* Ajouter de l'espace autour du compteur */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
