.header-div{
    display: flex;
    margin-top: 50px;
    justify-content: space-between; 
    align-items: center; 
  
    height: 129px;
    background: #D9D9D9;
    padding: 0 20px; 
    
}
.logo{
    
    width: 248px;
    height: 90px;
}
.titre{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    flex-grow: 1; 
}
.logoReact{

    width: 206px;
    height: 206px;
    padding-right: 50px;

}